{% extends 'dashboard/base.html' %}
	
{% load static %}
{% block content %}



      <div class="card-body table-responsive">
        <h4 class="card-title">offer Management</h4>
        
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal">Add Coupon</button>
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="productModalLabel">Add offer</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <form action="{% url 'add_offer' %}" method ="post" enctype="multipart/form-data">
                        {% csrf_token %}
                          <div class="form-group">
                              <label for="productName">Offer name</label>
                              <input type="text" class="form-control" id="productName" name="offer_name" placeholder="Enter offer name">
                          </div>

                          <div class="form-group">
                            <label for="productName">Offer description</label>
                            <input type="text" class="form-control" id="productName" name="offer_description" placeholder="Enter description">
                        </div>

                        <div class="form-group">
                          <label for="productName">discount</label>
                          <input type="text" class="form-control" id="productName" name="offer_discount" placeholder="Enter discount">
                      </div>
                      <div class="form-group">
                        <label for="productName">Expiry Date</label>
                        <input type="date" class="form-control" id="productName" name="valid_till" placeholder="Enter expiry date">
                    </div>
                  

                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                  </div>

                </form>
              </div>
          </div>
      </div>
      
        <!-- </p></a> -->
        
        <table class="table table-bordered">
          <thead>
            <tr>
              <th> offer name</th>
              <th> offer decription </th>
              <th> Discount </th>
           
              <th> Expiry date </th>
              
              <th> Action </th>
              

              
            </tr>
          </thead>
          <tbody>
            {% for i in offer %}
            <tr>
              
              <td> {{i.offer_name}} </td>
              <td> {{i.offer_description}}</td>
              <td> {{i.offer_discount}}</td>
              <td> {{i.valid_till}} </td>
        
              <td> <a class="btn btn-danger me-2" href="{% url 'delete_offer' i.id%}" role="button">delete</a> </td>
              <td> <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#productModal2{{forloop.counter}}">edit</button> </td>
              
              <div class="modal fade" id="productModal2{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="productModalLabel">Edit Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'editoffer' i.id %}" method ="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="form-group">
                                <label for="productName">offer name </label>
                                <input type="text" class="form-control" id="productName" name="offer_name" placeholder="Enter product name" value="{{i.offer_name}}">
                            </div>
                            <div class="form-group">
                              <label for="productName">description</label>
                              <input type="text" class="form-control" id="productName" name="offer_description" placeholder="Enter product name" value="{{i.offer_description}}">
                          </div>
                          <div class="form-group">
                            <label for="productName">offer discount</label>
                            <input type="text" class="form-control" id="productName" name="offer_discount" placeholder="Enter product name" value="{{i.offer_discount}}">
                        </div>
                        <div class="form-group">
                          <label for="productName">Expiry Date</label>
                          <input type="date" class="form-control" id="dateeee" name="valid_till" placeholder="Enter product name" value="{{i.valid_till}}">
                          
                        </div>
                      <div class="form-group ms-4">
                        <input type="checkbox" class="form-check-input" id="availabilityCheckbox" name="is_available" value="{{i.active}}">
                        <label class="form-check-label pt-2" for="availabilityCheckbox">Available</label>
                      </div>
                    

                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </form>
                            </div>
                        </div>
                    </div>
                        
                </div>
                          
                      
            
                          </form>
                        </div>
                      </div>
                    </div>
                   </div>

      
              
            </tr>
          {% endfor %}
            

          </tbody>
        </table>
      </div>
    </div>

 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script>
  {% for msg in messages %}
    swal("", "{{msg}}", "error");
  {% endfor %}
  </script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}