{% extends 'dashboard/base.html' %}
	
{% load static %}
{% block content %}


      <div class="card-body table-responsive">
        <h4 class="card-title">Variation</h4>
        
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal">Add Variation</button>
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="productModalLabel">Add Variation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    {% comment %} add_category {% endcomment %}
                      <form action="{% url 'add_variants' %}" method ="post" enctype="multipart/form-data">
                        {% csrf_token %}
                          
                          <div class="form-group">
                            <label for="productCategory">Products</label>
                            <select class="form-control" id="productCategory" name="product">
                               
                               {% for i in products %}
                               <option value="{{i.product_name}}">{{i.product_name}}</option>
                               {% endfor %}
                                   
                              
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="productCategory">Variation Ctaegory</label>
                            <select class="form-control" id="productCategory" name="variation_category">
                              
                                {% for i in choices %}
                                <option value="{{i.0}}">{{i.0}}</option>
                               {% endfor %}
                                
                            </select>
                        </div>
                        <div class="form-group">
                          <label for="productName">Variation Value</label>
                          <input type="text" class="form-control" id="productName" name="variation_value" placeholder="Enter variation value">
                      </div>
                      <div class="form-group ms-4">
                        <input type="checkbox" class="form-check-input" id="availabilityCheckbox" name="is_available" value="True">
                        <label class="form-check-label pt-2" for="availabilityCheckbox">Available</label>
                    </div>
                    

                    
                          
                      
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
      
        <!-- </p></a> -->
        
        <table class="table table-bordered">
          <thead>
            <tr>
              <th> ID</th>
              <th> product name </th>
              <th> Variation Category </th>
              <th> Variation Value </th>
              <th> Is_active </th>
              

              
            </tr>
          </thead>
          <tbody>
            {% for i in variants %}
            <tr>
              
              <td> {{i.id}} </td>
              <td> {{i.product.product_name}}</td>
              <td> {{i.variation_category}}</td>
              <td> {{i.variation_value}}</td>
              <td> {{i.is_active}}</td>
              
              
              <td> <a class="btn btn-danger me-2" href="{% url 'delete_variants' i.id %}" role="button">delete</
                a> </td>
              <td> <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#productModal2{{forloop.counter}}">edit</button> </td>
              
              <div class="modal fade" id="productModal2{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="productModalLabel">Edit Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% comment %} category_edit {% endcomment %}
                            <form action="{% url 'category_edit' i.id %}" method ="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="form-group">
                                <label for="productCategory">Products</label>
                                <select class="form-control" id="productCategory" name="product">
                                   
                                   {% for i in products %}
                                   <option value="{{i.product.product_name}}">{{i.product_name}}</option>
                                   {% endfor %}
                                       
                                  
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="productCategory">Variation Category</label>
                                <select class="form-control" id="productCategory" name="variation_category">
                                  
                                    {% for i in choices %}
                                    <option value="{{i.variation_category}}">{{i.0}}</option>
                                   {% endfor %}
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="productName">Variation Value</label>
                                <input type="text" class="form-control" id="productName" name="variation_value" placeholder="Enter variation value" value="{{i.variation_value}}">
                            </div>
                              
                          
                                

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
              
                          </div>
                          
                      
            
                          </form>
                        </div>
                      </div>
                    </div>
                   </div>

            </tr>
          {% endfor %}
            

          </tbody>
        </table>
      </div>
    </div>

 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script>
  {% for msg in messages %}
    swal("", "{{msg}}", "error");
  {% endfor %}
  </script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

