 {% extends 'base.html' %}
 {% load static %}
{% block content %} 


<div style="height: 100px;">
</div>
<link rel="stylesheet" type="text/css" href="{%static 'lastStyle.css'%}">
<div class="container-fluid">
<section class="shopping_cart_table spad cartdata cards">
    <div class="container">
        <div class="row ">
            <table class=" table-responsive product_data">
                <thead>
                    <tr style="font-size: 20px;color: #000;">
                        <th>Order_date</th>
                        <th>Total</th>
                        <th>Tracking id</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="line-height: 80px;">        
                  {% for orders in orders %}
                  <tr class="">
                      <td style="font-size: 17px;">{{ orders.created_at }}</td>
                      <td class="cart__price total">₹{{ orders.total_price|floatformat:2 }}</td>
                      <td style="font-size: 17px;">{{ orders.tracking_no }}</td>
                      <td><a href="{% url 'single_order_details' orders.id %}" class="btn btn-outline-dark">View order details</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 mt-4">
                <div class="continue__btn">
                    <a href="{% url 'store' %}">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>


{% endblock %}